.project
.cproject
.settings
.build
*.o
*.map
*.hex
*.out
*.bin
*.zip
components
armgcc/_build
Objects/
RTE/
Listings/

src/protobuff/smaq2oss.pb.c

src/protobuff/smaq2oss.pb.h

Pipfile.lock

src/protobuff/smaq2oss_pb2.py

notebooks/.ipynb_checkpoints/
notebooks/__pycache__/
notebooks/smaq2oss_pb2.py


test/test_runners/
